<link rel="stylesheet" href="css/route.css"></link>
<div class="row" style="height: 100%">
    <div class="col-sm-6 col-md-6 listContainer">
        <div class="row"  style="height: 100%; border: solid 15px #37373e;">
            <div class="row">
                <div class="col-md-1 col-sm-1" style="height: 72px;padding: 27px;">
                    <span>Da: </span>
                </div>
                <div layout="column" ng-cloak class="col-md-11 col-sm-11">
                    <md-content class="md-padding">
                        <form ng-submit="$event.preventDefault()">
                            <md-autocomplete class="searchBox"
                                    md-no-cache="noCache"
                                    md-selected-item="selectedItem"
                                    md-search-text-change="searchTextChange(from)"
                                    md-search-text="from"
                                    md-selected-item-change="selectedItemChange(item)"
                                    md-items="item in hints"
                                    md-item-text="item"
                                    md-min-length="0"
                                    placeholder="Partenza">
                                <md-item-template>
                                    <span md-highlight-text="from" md-highlight-flags="^i">{{item}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Nessuna corrispondenza per "{{from}}".
                                </md-not-found>
                            </md-autocomplete>
                            <div style="text-align: center; color: #a94442;">
                                {{errorSrc}}
                            </div>
                        </form>
                    </md-content>
                </div><!--<input ng-model="from" placeholder="Partenza"/>-->
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1 " style="height: 72px;padding: 27px;">
                    <span>A: </span>
                </div>
                <div layout="column" ng-cloak class="col-md-11 col-sm-11">
                <md-content class="md-padding">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete class="searchBox"
                                md-no-cache="noCache"
                                md-selected-item="selectedItem1"
                                md-search-text-change="searchTextChange(to)"
                                md-search-text="to"
                                md-selected-item-change="selectedItemChange(item)"
                                md-items="item in hints"
                                md-item-text="item"
                                md-min-length="0"
                                placeholder="Arrivo">
                                <md-item-template>
                                <span md-highlight-text="to" md-highlight-flags="^i">{{item}}</span>
                            </md-item-template>
                            <md-not-found>
                                Nessuna corrispondenza per "{{to}}".
                            </md-not-found>
                        </md-autocomplete>
                        <div style="text-align: center; color: #a94442;">
                            {{errorDest}}
                        </div>
                    </form>
                </md-content>
                </div><!--<input ng-model="to" placeholder="Arrivo"/>-->
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1 " style="height: 72px;padding: 27px;"></div>
                <div class="col-md-11 col-sm-11" style="padding: 31px; " >
                    <button ng-click="findPath()" type="submit" class="btn-success">Calcola percorso</button>
                </div>
            </div>
        </div>
        <!--<li style="padding: 0px; margin: 0;  list-style-type: none; "  ng-repeat="stop in stops">
            <div class="row" style="padding: 0px; margin: 0;">
                <div class="col-sm-2 col-md-2" style="text-align: right; border-right: solid 2px lightgrey"> {{stop.id}}</div>
                <div class="col-sm-10 col-md-10" style="text-align: left"> {{stop.name}} </div>
            </div>
        </li>-->
        <div ng-show="showSpinner" ng-init="showSpinner=false">
        	<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" style="position: absolute;left: 50%; top: 50%">
			   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			</svg>
        </div>
    </div>

    <div class="col-sm-6 col-md-6" style=" height: 100%; border: solid 15px #37373e;">
        <leaflet id="idRoute" style="height: 100%" defaults="defaults" markers="markers" paths="paths" lf-center="centerLocation" decorations="decorations" ></leaflet>
    </div>
</div>
