<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../css/offcanvas.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/chat.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css"></link>
    <title>Transport</title>
    </head>
    <body>
 <div th:replace="fragments/navbar :: navbar">
 </div>


 <div class="container" style="height: 100%; margin-top: -25px;">
    <div class="row" style="height: 100%;">
        <div class="col-md-12" style="height: 100%;">
            <div class="panel panel-primary" style="height: 100%;">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat <span id="topic">bus</span>
                </div>
                <div class="panel-body">
                    <ul class="chat" th:each="message : ${messages}">
                        <li class="left clearfix" th:if="${message.getNickname()!=nickname}" >
                        <span class="chat-img pull-left">
                            <img th:src="@{http://placehold.it/50/55C1E7/(fff,text='U')}" alt="User Avatar" class="img-circle" th:if="${message.image==null}" /> 
                            <img th:src="@{response.image}" alt="User Avatar" class="img-circle" th:if="${message.image!=null}"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font" th:text="${message.getNickname()}"></strong> 
                                    <small class="pull-right text-muted" th:text="${message.getDate()}"></small>
                                </div>
                                <p th:text="${message.getMessage()}">
                                    
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix" th:if="${message.getNickname()==nickname}">
                            <div class="chat-body clearfix">
                                <p class="rigth" th:text="${message.getMessage()}">
                                   
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="chat" id="messages" >
                    </ul>
                </div>
                <div class="panel-footer">
                    <form class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">
                                Send
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

	
</div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	  <script src="../chatScript.js"></script>
	  
  </body>
</html>